.country {
    padding: 50px;
    width: 100%;
    min-height: 1000px;
    margin: 0;
}

.btn-light {
    margin-bottom: 30px;
    display: inline-block;
    box-shadow: 0 5px 20px hsla(200, 15%, 8%, 0.2);
}

.btn-light.light-theme:hover{
     background-color: hsla(195, 2%, 53%, 0.1);
     color:var(--light-mode-text)
}

.btn-light.dark-theme:hover{
    background-color: hsla(240, 1%, 61%, 0.1);
    color: var(--text-color);
}



.country article .country-details div {
    margin: 30px 0;
}

.country article .country-details div h2 {
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 1px;
}

.country article .country-details div h5 {
    font-weight: 600;
    margin: 10px 0;
    font-size: 18px;
}

.country article .country-details div h5 span {
    font-weight: 300;
    font-size: 16px;
    opacity: 0.8;
}

.country article h3 {
    font-weight: 700;
}

.country article .border-country {
    display: grid;
    justify-content: flex-start;
}

.country article .borders {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    flex-direction: row;
}

.country article .borders ul  {
    margin-left: 0;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: var(--article-color);
    padding: 3px 20px;
    list-style-type: none;
    border-radius: 3px;
    box-shadow: 0 5px 20px hsla(200, 15%, 8%, 0.2);
    color: var(--text-color);
}

.country article .borders ul.light-theme {
    background-color: var(--light-mode-background);
    color: var(--light-mode-text);
    box-shadow: 5px 5px 10px hsla(200, 15%, 8%, 0.1);
}

@media (min-width: 992px) {
    .country {
        width: 100%;
       
    }
    .country-inner{
        padding: 40px;
    }
   
    .country article .country-inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
    }

    .country article .country-details {
        display: flex;
        flex-direction: column;
        margin: 0px 70px;
        justify-content: flex-start;
    }

    .country article .country-details .country-stuff {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 0;
        gap: 1.2em;
    }

    .country article .country-details .country-stuff .country {
        margin-left: 20px;
    }
}

@media (min-width: 1200px) {
    .country {
        width: 100%;
    }
    
}

@media (min-width: 1366px) {
    .country {
        width: 100%;
    }
}

@media (min-width: 1400px) {
    .country {
        width: 100%;
    }
}
